.button_404 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 201px;
  height: 80px;
  border-radius: 20px;
  background-color: #56CCF2;
  color: #0D1026;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  letter-spacing: -0.85px;
  cursor: pointer;
}

.button_contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 504px;
  height: 64px;
  border-radius: 15px;
  background-color: #56CCF2;
  color: #0D1026;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 46px;
  letter-spacing: -0.68px;
  cursor: pointer;
}

.button_about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 317.95px;
  height: 52px;
  border-radius: 15px;
  background-color: #56CCF2;
  color: #0D1026;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 46px;
  letter-spacing: -0.68px;
  cursor: pointer;
}

@media screen and (max-width:640px) {
  .button_contact {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    width: 504px;
    height: 64px;
    border-radius: 15px;
    background-color: #56CCF2;
    color: #0D1026;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 46px;
    letter-spacing: -0.68px;
    cursor: pointer;
  }
}