.error_outer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.error_image{
    margin-top: 136.34px;
}
.error_message{
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.34px;
    color: #F6F6F6;
    margin-top: 75.35px;
}
.error_message_2{
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: -0.64px;
    color: #F6F6F6;
    
}
.error_button{
    margin-top: 34px;
}
.error_report_issue{
    width: 145px;
    height: 30px;
    margin-top: 27px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.error_report_message{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.34px;
    color: #E0E0E0;
}
.error_report_issue img{
    height: 24px;
    width: 24px;
}

@media screen and (max-width:640px) {
    .error_message{
    font-size: 30px;
    line-height: 40px;
}
.error_message_2{
    font-size: 15px;
    line-height: 29px;
}
}