.split1-x {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 40em) {
  .split1-x {
    flex-direction: row;
  }
  .splitx {
    /* width: 80vw; */
    margin: auto;
    /* display: grid;
    justify-content: center; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    /* grid-template-columns: repeat(4, minmax(300px, 1fr));
    grid-template-columns: 1fr 1fr 1fr; */
  }
  .split2-x {
    /* width: 80vw; */
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* grid-template-columns: repeat(5, minmax(250px, 1fr)); */
  }
}
section {
  padding: 0em;
}
/* .member-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */
.container1-x {
  width: min(70%, 60em);
  margin-inline: auto;
  text-align: center;
  /* border: 1px solid #f6f6f6; */
  /* padding: 5em; */
  color: white;
}
.container1-x h1 {
  font-weight: bold;
  font-size: 3em;
  text-align: center;

  /* font-size: 60px; */
  /* width: min(70%, 60em); */
  /* line-height: 70px; */
}
.container1-x > h2 {
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 5em;
  text-align: center;
  /* font-size: 36px; */
  /* width: min(70%, 60em); */
  /* line-height: 70px; */
}

.container-x h2,
.class1 {
  width: min(70%, 60em);
  margin-inline: auto;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 36px;
  line-height: 70px;
  margin-bottom: 0em;
  padding: 1em;
}

.cardx {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 20rem;
  height: auto;

  /* left: 260px; */
  align-items: center;
  /* max-width: 300px; */

  padding: 36px;
}

.name {
  position: center;

  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.5rem;
  /* identical to box height, or 147% */

  text-align: center;
  letter-spacing: -0.64px;

  color: #f6f6f6;
}

.title {
  position: center;
  font-weight: normal;
  font-size: 24px;
  line-height: 38px;
  max-height: 5rem;
  overflow: hidden;
  /* identical to box height, or 158% */

  text-align: center;
  letter-spacing: -0.47px;

  color: #f6f6f6;
}

.a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.links {
  display: flex;
  width: 144.22px;
  height: 42.22px;
  left: 307px;
  top: 617px;
  align-items: center;
  justify-content: space-evenly;
}

.links a {
  border: 2px solid #f6f6f6;
  box-sizing: border-box;
  border-radius: 200px;
  background-color: #fafafa;
}

.class-alumni h2 {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 36px;
  line-height: 70px;
}

.userImage {
  width: 15rem;
  height: 15rem;
  overflow: hidden;
  border-radius: 50%;
}
.userImage img {
  width: 100%;
  height: auto;
  position: relative;
}

.img-btn img:hover {
  transform: scale(1.1);
}
