.social_icon{
    width: 78.92px;
    height: 78.92px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F6F6F6;
    cursor: pointer;
}
@media screen and (max-width:640px) {
    .social_icon{
        width: 60px;
        height: 60px;
    }
}